<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.learncoding.twiliovideocall">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application>
        <activity
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:name=".ui.attachment.AttachmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.call.OnGoingCallActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:turnScreenOn="true" />

        <service
            android:name=".service.VideoCallService"
            android:exported="false"
            android:foregroundServiceType="camera|microphone" />

        <receiver
            android:name=".receiver.VideoCallReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_CALL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>